@charset "UTF-8";

body {
	font-size: 0pt;
	margin: 0;
	font-family: '돋움';
}

[type="button"] {
	cursor: pointer;
	font-family: '돋움';
	background-color: #ffad33;
	border-color: #ffad33;
	font-size: 10pt;
	color: white;
}

.wrap {
	width: 1330px;
	height: 100%;
	margin: 110px auto 200px;
}

.btn_menu {
	width: 300px;
	height: 800px;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}

.report:hover, .privacy:hover, .stop:hover, .profile_manage:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.contents {
	width: 700px;
	height: 800px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

.set {
	width: 190px;
	height: 50px;
	font-size: 25pt;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

.profile_manage, .privacy, .stop, .report {
	width: 190px;
	height: 50px;
	font-size: 15pt;
	font-weight: bold;
	background-color: white;
	color: black;
	border-top: 1px solid #d9d9d9;
	line-height: 50px;
	text-align: center;
	margin-bottom: 5px;
}

.profile_manage {
	background-color: black;
	color: white;
}

.stop {
	border-bottom: 1px solid #d9d9d9;
}

.title {
	width: 100%;
	height: 50px;
	font-size: 25pt;
	font-weight: bold;
	margin-bottom: 30px;
	border-bottom: 1px solid #d9d9d9;
	color: black;
}

#profileImg2 {
	display: none;
}


.profile_edit {
	width: 250px;
	height: 250px;
	border-radius: 70%;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 20px;
}

#profileEditImg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.btn_profile_upload_w, .btn_profile_delete_w {
	width: 100px;
	height: 45px;
	text-align: center;
	margin-bottom: 50px;
	display: inline-block;
}

.btn_profile_upload_w {
	margin-left: 35%;
}

.btn_profile_delete_w {
	margin-left: 3%;
}

#btnProfileUpload, #btnProfileDelete {
	width: 100px;
	height: 100%;
	background-color: #ffad33;
	border-color: #ffad33;
	display: inline-block;
}

#nickname {
	width: 100%;
	height: 50px;
	margin-bottom: 5px;
}

/* 중복닉네임 존재하지 않는경우 */
.nickname_input_re_1{
	font-size: 10pt;
	color : green;
	display : none;
}
/* 중복닉네임 존재하는 경우 */
.nickname_input_re_2{
	font-size: 10pt;
	color : red;
	display : none;
}

#btnNicknameCheck {
	width: 17%;
	height: 50px;
}

#introduce {
	width: 100%;
	height: 300px;
}

.table {
	width: 100%;
	color: black;
	font-size: 10pt;
	font-weight: bold;
	border-top: 1px solid #d9d9d9;
    border-collapse: collapse;
}

td, th {
	border-bottom: 1px solid #d9d9d9;
	padding: 10px;
}

th {
	background-color: #e6e6e6;
	width: 120px;
}

td {
	width: 520px;
}

.save_cancel {
	width: 200px;
	height: 50px;
	margin-left: 45%;
	margin-bottom: 100px;
}

#btnSave, #btnCancel {
	padding: 15px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 50px;
	font-size: 10pt;
	display: inline-block;
	background-color: #e6e6e6;
	color: black;
}

#btnSave {
	margin-right: 15px;
	background-color: #ffad33;
	color: white;
}