@charset "UTF-8";

body {
	margin: 0;
	font-family: '돋움';
}

[type="button"] {
	cursor: pointer;
	font-family: '돋움';
	background-color: #ffad33;
	border-color: #ffad33;
	font-size: 10pt;
	color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*----------------------------------------------------------테이블 */
table tr:nth-child(2), table tr:nth-child(3) {
	display: none;
}


tr {
	height: 50px;
}

#pw, #name {
	width: 96%;
	height: 50px;
}

#year, #day {
	width: 30%;
	height: 50px;
}

.month {
	width: 30%;
	height: 55px;
}

.sex {
	width: 97%;
	height: 30px;
	padding-top: 10px;
}

#email {
	width: 58%;
	height: 50px;
}

#email3, #pwCheck, #nowPw, #phone4 {
	width: 70%;
	height: 50px;
	padding: 1px;
}

#email3 {
	width: 96%;
}

#phone {
	width: 96%;
	height: 50px;
}

#pwSend, #btnEditPw, #emailCheck {
	width: 75px;
	height: 50px;
}

#emailSend {
	width: 100px;
	height: 50px;
}

.agree {
	width: 148px;
    height: 25px;
    margin-top: 5px;
    padding-left: 5px;
}

.wrap {
	width: 100%;
	height: 100%;
	margin: 40px auto 380px;
}


.contents {
	width: 98%;
    height: 450px;
    margin: 0 auto;
    vertical-align: top;
}

.select {
	padding: 2%;
	height: 55px;
	margin-bottom: 30px;
	margin-left: 2%;
	border-radius: 5px;
}

.title {
	width: 98%;
    height: 50px;
    font-size: 25pt;
    margin: 0 auto;
	font-weight: bold;
	margin-bottom: 30px;
	border-bottom: 1px solid #d9d9d9;
	color: black;
}

.table {
	width: 100%;
	color: black;
	font-size: 10pt;
	font-weight: bold;
}

table {
	border-top: 1px solid #d9d9d9;
    border-collapse: collapse;
}

td, th {
	border-bottom: 1px solid #d9d9d9;
	padding: 1%;
}

th {
	width: 20%;
	background-color: #e6e6e6;
}

td {
	width: 80%;
}

.save_cancel {
	text-align: center;
	height: 50px;	
}

#btnSave {
	padding: 15px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 50px;
	font-size: 10pt;
	display: inline-block;
	background-color: #ffad33;
	color: white;
}


