@charset "UTF-8";

body {
	font-size: 0pt;
	margin: 0;
	font-family: '돋움';
}

[type="button"] {
	cursor: pointer;
	font-family: '돋움';
	background-color: #ffad33;
	border-color: #ffad33;
	font-size: 10pt;
	color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*----------------------------------------------------------테이블 */
table tr:nth-child(2), table tr:nth-child(3) {
	display: none;
}


tr {
	height: 50px;
}

#pw, #name {
	width: 96%;
	height: 50px;
}

#year, #day {
	width: 160px;
	height: 50px;
}

.month {
	width: 140px;
	height: 55px;
}

.sex {
	width: 97%;
	height: 30px;
	padding-top: 10px;
}

#email {
	width: 370px;
	height: 50px;
}

#email3, #pwCheck, #nowPw, #phone4 {
	width: 400px;
	height: 50px;
	padding: 1px;
}

#email3 {
	width: 96%;
}

#phone {
	width: 96%;
	height: 50px;
}

#pwSend, #btnEditPw, #emailCheck {
	width: 75px;
	height: 50px;
}

#emailSend {
	width: 100px;
	height: 50px;
}

.agree {
	width: 148px;
    height: 30px;
    margin: 0px 10px;
    padding-left: 6px;
}

.wrap {
	width: 1330px;
	height: 100%;
	margin: 110px auto;
}

.btn_menu {
	width: 300px;
	height: 800px;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}

.report:hover, .privacy:hover, .stop:hover, .profile_manage:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}

.contents {
	width: 700px;
	height: 800px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

.set {
	width: 190px;
	height: 50px;
	font-size: 25pt;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

.profile_manage, .privacy, .stop, .report {
	width: 190px;
	height: 50px;
	font-size: 15pt;
	font-weight: bold;
	background-color: white;
	color: black;
	border-top: 1px solid #d9d9d9;
	line-height: 50px;
	text-align: center;
	margin-bottom: 5px;
}

.privacy {
	background-color: black;
	color: white;
}

.stop {
	border-bottom: 1px solid #d9d9d9;
}

.title {
	width: 100%;
	height: 50px;
	font-size: 25pt;
	font-weight: bold;
	margin-bottom: 30px;
	border-bottom: 1px solid #d9d9d9;
	color: black;
}

.table {
	color: black;
	font-size: 10pt;
	font-weight: bold;
}

table {
	border-top: 1px solid #d9d9d9;
    border-collapse: collapse;
}

td, th {
	border-bottom: 1px solid #d9d9d9;
	padding: 10px;
}

th {
	width: 120px;
	background-color: #e6e6e6;
}

td {
	width: 500px;
}

.save_cancel {
	width: 160px;
	height: 50px;
	margin: 0 auto;
}

#btnSave {
	padding: 15px;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 50px;
	font-size: 10pt;
	display: inline-block;
	background-color: #ffad33;
	color: white;
}


