@charset "UTF-8";

body {
	font-size: 0pt;
	margin: 0;
	font-family: '돋움';
}

[type="button"] {
	cursor: pointer;
	font-family: '돋움';
}

.footer a, .side_bar a {
	color: inherit;
	text-decoration: none;
}

.header {
	margin-top: 20px;
	position: relative;
	width: 100%;
	height: 60px;
}

#btnMenu {
	position: absolute;
	left: 40px;
	cursor: pointer;
}

#btnLogo {
	position: absolute;
	left: 80px;
}


.search_w {
	width: 300px;
	height: 45px;
	position: absolute;
	right: 100px;
	display: none;
}

#btnSearch {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	border: 1px solid #cccccc;
	outline-style: none;
}

#btnLook {
	position: absolute;
	right: 40px;
	cursor: pointer;
}

.side_bar {
	display: none;
	border: 2px solid gray;
	background-color: white;
	width: 300px;
	height: 630px;
	position: absolute;
	top: 65px;
	left: 40px;
	z-index: 800;
	border-radius: 10px;
}

#btnUpload, #btnLogout {
	border: 1px solid #ffad33;
	color: #ffad33;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18pt;
	cursor: pointer;
	border-radius: 20px;
	background-color: white;
}

.profile {
	width: 200px;
	height: 200px;
	border-radius: 70%;
	overflow: hidden;
	position: absolute;
	top: 50px;
	left: 48px;
}

.profile_img, .profile_img2, .profile_img3, .profile_img4 {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile_name {
	position: absolute;
	width: 300px;
	height: 20px;
	text-align: center;
	top: 260px;
	font-size: 22pt;
}

#btnUpload {
	position: absolute;
	top: 310px;
	left: 95px;
}

.side_bar_menu {
	position: absolute;
	margin: 330px auto 0px;
	text-align: center;
	padding-top: 20px;
	font-size: 15pt;
	width: 100%;
	height: 200px;
}

#btnLogout {
	position: absolute;
	top: 550px;
	left: 95px;
}