@charset "UTF-8";
body {
	margin: 0;
	font-family: '돋움';
}

[type="button"] {
	cursor: pointer;
	font-family: '돋움';
}

.wrap {
	width: 1330px;
	height: 100%;
	margin: 110px auto;
}

.btn_menu {
	width: 300px;
	height: 500px;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
}

.report:hover, .privacy:hover, .stop:hover, .profile_manage:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}


.set {
	width: 190px;
	height: 50px;
	font-size: 25pt;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

.profile_manage, .privacy, .stop, .report {
	width: 190px;
	height: 50px;
	font-size: 15pt;
	font-weight: bold;
	background-color: white;
	color: black;
	border-top: 1px solid #d9d9d9;
	line-height: 50px;
	text-align: center;
	margin-bottom: 5px;
}

.stop {
	background-color: black;
	color: white;
	border-bottom: 1px solid #d9d9d9;
}

.contents {
	width: 700px;
	height: 500px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	font-size: 17px;
}

.title {
	width: 100%;
	height: 50px;
	font-size: 25pt;
	font-weight: bold;
	margin-bottom: 30px;
	border-bottom: 1px solid #d9d9d9;
	color: black;
}

.box {
	text-align: center;
}

.desc b {
  font-weight: 400;
  color: #f44;

}
.ico_dot{
	width: 500px;
	height: 40px;
	margin: 30px 10px;
	display:inline-block;
   
}

.inp_comm {
	 position:absolute;
	 left:0;
	 top: 1px;
	 z-index: -1;
	 width: 18px;
	 height: 18px;
	 vertical-align: top;
}

.stopbtn {
	width: 144px;
	 height: 44px;
	 margin-top: 10px;
	 border-radius: 22px;
	 border:solid 1px #ccc;
	 font-size: 14px;
}

.stopbtn:hover, .stopbtn:active {
	 width: 144px;
	 height: 44px;
	 margin-top: 10px;
	 border-radius: 22px;
	 border:solid 1px #ccc;
	 background-color: #ffad33;
	 font-size: 14px;
}

.desc ul {
	border: solid 1px #gray;
}

input[type=checkbox] {
	width: 15px;
	height: 15px;
}

/* ------------- */

.background{
	width : 100%;
	background-color: black;
	opacity: 0.4;
	position: absolute;
	left : 0;
	top : 0;
	height: 900px;
}
.main{
	width : 400px;
	height: 300px;
	background-color: white;
    border: 4px solid black;
	position: absolute;
	left : 50%;
	top: 50%;
	margin-left : -180px;
	margin-top : -190px;
	font-size: 15pt;
}
.topBlank{
	height: 60px;
	width: 100%;
	background-color: RGBA;
}
.middleBlank{
	width : 100%;
	height: 250px;
	background-color: Rgba;
	margin : 0 auto;
	text-align: center;
}
.main input{
	width : 250px;
	height : 30px;
	padding : 5px;
}
.title2{
	width : 100%;
	height: 50px;
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.main button{
	width:150px;
	height: 45px;
	border-radius: 9px;
	font-size: 15pt;
	font-weight: bold;
	cursor: pointer;
	border: none;
	margin-top: 40px;
}
.main button:hover{
	background-color: #ffad33;
	color: white;
}