@charset "UTF-8";
body {
	margin: 0;
	font-family: '돋움';
}

[type="button"] {
	cursor: pointer;
	font-family: '돋움';
}

.wrap {
	width: 100%;
	height: 100%;
	margin: 40px auto;
}

.contents {
	width: 98%;
    height: 500px;
    margin: 0 auto;
    vertical-align: top;
}

.select {
	padding: 2%;
	height: 55px;
	margin-bottom: 30px;
	margin-left: 2%;
	border-radius: 5px;
}

.title {
	width: 98%;
    height: 50px;
    font-size: 25pt;
    margin: 0 auto;
	font-weight: bold;
	margin-bottom: 30px;
	border-bottom: 1px solid #d9d9d9;
	color: black;
}

.box {
	text-align: center;
}

.desc b {
  font-weight: 400;
  color: #f44;

}
.ico_dot{
	width: 500px;
	height: 40px;
}

.inp_comm {
	 position:absolute;
	 left:0;
	 top: 1px;
	 z-index: -1;
	 width: 18px;
	 height: 18px;
	 vertical-align: top;
}

.stopbtn {
	width: 144px;
	 height: 44px;
	 margin-top: 10px;
	 border-radius: 22px;
	 border:solid 1px #ccc;
	 font-size: 14px;
}

.stopbtn:hover, .stopbtn:active {
	 width: 144px;
	 height: 44px;
	 margin-top: 10px;
	 border-radius: 22px;
	 border:solid 1px #ccc;
	 background-color: #ffad33;
	 font-size: 14px;
}

.desc ul {
	border: solid 1px #gray;
}

input[type=checkbox] {
	width: 20px;
	height: 20px;
}

/* ------------- */

.background{
	width : 100%;
	background-color: black;
	opacity: 0.4;
	position: absolute;
	left : 0;
	top : 0;
	height: 900px;
}
.main{
	width : 90%;
	max-height: 80vh;
	background-color: white;
    border: 4px solid black;
	position: absolute;
	left : 50%;
	top: 50%;
	margin-left: -45%;
    margin-top: -10%;
	font-size: 15pt;
}
.topBlank{
	height: 60px;
	width: 100%;
	background-color: RGBA;
}
.middleBlank{
	width : 100%;
	height: 250px;
	background-color: Rgba;
	margin : 0 auto;
	text-align: center;
}
.main input{
	width : 250px;
	height : 30px;
	padding : 5px;
}
.title2{
	width : 100%;
	height: 50px;
	font-size: 15pt;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.main button{
	width:150px;
	height: 45px;
	border-radius: 9px;
	font-size: 15pt;
	font-weight: bold;
	cursor: pointer;
	border: none;
	margin-top: 40px;
	background-color: #ccc;
}
.main button:hover{
	background-color: #ffad33;
	color: white;
}